<div class="Content__businessCard">
    <h3>
        Виктор
        <br>
        Коновалов
    </h3>
    <p class="Content__businessCard-text ">
        адвокат
    </p>
    <div class="Content__businessCard-contact">
        <p class="Content__businessCard-text">
            Киев,
            <br>
            ул. Мечникова, 3
        </p>
        <span class="Content__businessCard-buttons btnOpen">
            Проложить маршрут
        </span>
    </div>
    <div class="Content__businessCard-contact">
        <p class="Content__businessCard-text">
            +380 68 333 4747
        </p>

        <span id="OpenPopup" class="Content__businessCard-buttons btnOpen">
            Связаться через сайт
        </span>


    </div>

</div>