<div id="donePopup" class="DonePopup">
    <span class="Btn__close"></span>
    <div>
        <i class="fas fa-check-circle"></i>
    </div>
    <p>Ваш номер у меня.</p>
    <p> Созвонимся в ближайшее время.</p>
</div>