<div class="EnterRoute">
    <div class="InputBox">
        <div class="InputBox__label">
            Откуда*
        </div>
        <input
                id="inputAddress"
                type="text"
                name="address"
                placeholder="Введите адрес"
                class="InputBox__input"
        >
    </div>
    <button id="Btm-active-address" class="Btn__active">
        Рассчитать маршрут
    </button>
</div>