<footer class="Footer">
    <div class="container">
        <p class="Footer__autor">
            Viktor 2020.
        </p>
        <div class="Footer__socialNetworks">
            <a href="#">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="#">
                <i class="fab fa-twitter"></i>
            </a>
        </div>
        <p class="Footer__companyDeveloper">
            Handcrafted by
            <a href="#">
                <img src="/public/img/Logo.png" alt="logo">
            </a>
        </p>
    </div>
</footer>