<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/main.css">

    <title>
        <%= title %>
    </title>
</head>

<body>
    <section class="Header">
        <div class="container">
            <div class="Header__title">
                <p class="Header__title-shadow">
                    Контакты
                </p>
                <p class="Header__title-text">
                    Контакты
                </p>
            </div>
            <div class="Header__subtitleBox">
                <p class="Header__subtitle">
                    Давайте обсудим и решим вашу задачу.
                </p>
                <p class="Header__subtitle">
                    Также отправить письмо в свободной форме на почту.
                </p>
            </div>
        </div>
    </section>

    <section class="content">
        <div class="container">
            <div class="business_card">

            </div>
            <div class="bg_box">

            </div>
        </div>
    </section>
    <div class="container">
        <p>
            Также отправляйте письмо в свободной форме на почту → post@mail.com
        </p>
    </div>
    <footer>
        <div class="container">
            <p class="autor">
                Viktor 2020.
            </p>
            <div class="socialNetworks">
                <a href="#">facebook</a>
                <a href="#">twitter</a>
            </div>
            <p class="companyDeveloper">
                Handcrafted by
            </p>
        </div>
    </footer>



    <script src="/public/main.js"></script>

</body>

</html>