@import "./mixins";
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px
  -webkit-text-size-adjust: none;
  @include cursor-static;
}
a {
  text-decoration: none;
  @include cursor-active;
}


body {
  position: relative;
  font-family: var(--font-primary);
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-black);
  background-color: var(--color-white);
}

::selection {
  background-color: var(--color-primary);
  color: var(--color-white);
}

ul {
  list-style: none;
  padding: 0;
}

.container {
  position: relative;
  max-width: 120em;
  width: 100%;
  margin: 0 auto;
}

.btnOpen {
  position: relative;
  &:before {
    content: '';
    position: absolute;
    top: 6px;
    left: 0;
    width: 15px;
    height: 1px;
    background: var(--color-primary);
  }
}

.btnClose{
  position: relative;
  &:before,
  &:after {
    content: "";
    position: absolute;
    top: 6px;
    left: 0;
    width: 17px;
    height: 1px;
    background: var(--color-primary);
  }
  &:before {
    transform: rotate(45deg);
  }
  &:after {
    transform: rotate(-45deg);
  }
}

