@import "mixins";
.EnterRoute {
  width: 100%;
  height: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  transition: .3s;

  .Btn__active {
    margin-top: 45px;
  }
}

