#map {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 0;
  height: 0;
  opacity: 0;
  transition: .5s;
  box-shadow: inset 50px 30px 50px 15px white;
  .mapboxgl-canvas {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}



