@mixin cursor-static {
  cursor: url("/public/img/cursor_static.cur"), auto;
}
@mixin cursor-active {
  cursor: url("/public/img/cursor_active.cur"), auto;
}

@mixin centering-children {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin centering-abs {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin respond($breakpoint) {
  @if $breakpoint == big-desktop {
    @media only screen and (min-width: 112.5em) {
      @content;
    } //1800px
  }
  @if $breakpoint == tab-land {
    @media only screen and (max-width: 75em) {
      @content;
    } //1200px
  }
  @if $breakpoint == tab-port {
    @media only screen and (max-width: 56.25em) {
      @content;
    } //900px
  }
  @if $breakpoint == phone {
    @media only screen and (max-width: 37.5em) {
      @content;
    } //600px
  }
  @if $breakpoint == mobile-l {
    @media only screen and (max-width: 26.5625em) {
      @content;
    } //425px
  }
  @if $breakpoint == mobile-m {
    @media only screen and (max-width: 23.4375em) {
      @content;
    } //375px
  }
}
