:root {
  --color-transparent: transparent;
  --color-primary: #54617E; // wt
  --color-secondary: #ffffff; // wt
  --color-error: #CA2400;
  --color-white: #ffffff;
  --color-white-2: #F2F2F2;
  --color-black: #000000;
  --color-black-1: #2b2b2b;
  --color-grey-light: #E0E0E0;
  --color-grey: #f2f2f2;
  --color-grey-0: #BDBDBD;

  --color-grey-dark: #c5c5c5; // wt
  --color-grey-dark-0: #7e7a7f; //+

  --color-footer-border: rgba(84, 97, 126, 0.2);
  --color-background-popup: rgba(0, 0, 0, 0.4);
  --color-background-dicabled: rgba(84, 97, 126, 0.1);


  --text-size-10: 10px;
  --text-size-12: 12px;
  --text-size-13: 13px;
  --text-size-14: 14px;
  --text-size-15: 15px;
  --text-size-16: 16px;
  --text-size-17: 17px;
  --text-size-18: 18px;
  --text-size-19: 19px;
  --text-size-20: 20px;
  --text-size-21: 21px;
  --text-size-22: 22px;
  --text-size-24: 24px;
  --text-size-26: 26px;
  --text-size-28: 28px;
  --text-size-42: 42px;
  --text-size-48: 48px;
  --text-size-64: 64px;

  --font-primary: "TRY-Vesterbro", sans-serif;
  --font-secondary: "RFTone", sans-serif;
  --font-third: "Avenir", sans-serif;

}